<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% block title %}Daily66{% endblock %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'main/main.css' %}">
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <a class="navbar-brand" href="{% url "main:index" %}">Daily66</a>
      <ul class="nav navbar-nav pull-xs-right">
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="#">{{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "main:habit-new" %}">+ Habit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "main:logout" %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "main:join" %}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "main:login" %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>
