{% extends "main/base.html" %}

{% block content %}
<h1>{{ habit.title }}</h1>
{% if user == habit.user %}
<a href="{% url "main:habit-edit" habit.id %}">edit</a>
<a href="{% url "main:habit-delete" habit.id %}">delete</a>
{% endif %}
<p>{{ habit.description }}</p>
<h2><a href="{% url "main:user-page" habit.user.username %}">{{ habit.user.username }}</a></h2>
{% if user == habit.user %}
<a href="{% url "main:log-add" habit.id %}">+ Log</a>
{% endif %}
<ul>
  {% for log in logs %}
  <li>{{ log.date }} / {{ log.content }} / {{ log.score }}</li>
  {% if user == habit.user %}
  <a href="{% url "main:log-edit" log.id %}">edit</a>
  <a href="#">delete</a>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}
